button {
  padding: 0.429rem 1.143rem;
  border: none;
  border-radius: var(--border-radius-100);
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  min-height: 2.286rem;
}

button:hover {
  cursor: pointer;
}

button.default {
  background-color: var(--button-default-background-colour);
  color: var(--button-default-text-colour);
}

button.default:hover {
  background-color: var(--button-default-hover-background-colour);
}

button.default:active {
  background-color: var(--button-default-active-background-colour);
}

button.default:disabled {
  background-color: var(--button-default-disabled-background-colour);
  color: var(--button-default-disabled-text-colour);
}

button.primary {
  background-color: var(--button-primary-background-colour);
  color: var(--button-primary-text-colour);
}

button.primary:hover {
  background-color: var(--button-primary-hover-background-colour);
}

button.primary:active {
  background-color: var(--button-primary-active-background-colour);
}

button.primary:disabled {
  background-color: var(--button-primary-disabled-background-colour);
  color: var(--button-primary-disabled-text-colour);
}

button.secondary {
  background-color: var(--button-secondary-background-colour);
  color: var(--button-secondary-text-colour);
}

button.secondary:hover {
  background-color: var(--button-secondary-hover-background-colour);
}

button.secondary:active {
  background-color: var(--button-secondary-active-background-colour);
}

button.secondary:disabled {
  background-color: var(--button-secondary-disabled-background-colour);
  color: var(--button-secondary-disabled-text-colour);
}

button.selected {
  background-color: var(--button-default-hover-background-colour);
}

button.icon-only {
  height: 2.857rem;
  width: 2.857rem;
  padding: 0;
  text-align: center;
}

button i {
  margin-right: 0.429rem;
}

button span.hide {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 0.071rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.071rem;
}

.task-edit-button::before,
.edit-project::before {
  content: "\f044";
  font-family: var(--icon-font-family);
  font-size: 1.143rem;
}

.task-delete-button::before,
.delete-project::before {
  content: "\f2ed";
  font-family: var(--icon-font-family);
  font-size: 1.143rem;
}
