form {
  gap: 1.143rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(22.857rem, 54.857rem);
}

label {
  font-weight: var(--font-weight-semibold);
}

.form-row {
  gap: 0.286rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.form-buttons-container {
  gap: 0.571rem;
  display: grid;
  margin-top: 0.571rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
