.task-card {
  box-shadow: var(--container-background);
  display: grid;
  align-items: center;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  margin-bottom: 0.571rem;
  padding-top: 1.143rem;
  background-color: var(--ziggurat-50);
  border-radius: 1.143rem;
}

.task-card:hover {
  background-color: var(--ziggurat-300);
  cursor: pointer;
}

.task-card p {
  margin: 0;
}

.task-card-details {
  pointer-events: none;
  display: grid;
  align-items: center;
  gap: 1.143rem;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr 8.571rem auto;
  padding: 0 1.714rem;
}

.task-card-content {
  pointer-events: none;
  display: grid;
  align-items: center;
  gap: 1.143rem;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  max-height: 0;
  padding: 1.143rem 1.714rem 0 1.714rem;
  transition: max-height 0.15s ease-out, margin-bottom 0.15s ease-out;
}

.task-card-name-date-container {
  display: grid;
  gap: 0.286rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.task-card-action-buttons {
  display: grid;
  gap: 0.571rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  pointer-events: auto;
}

.task-card-date {
  font-size: 0.857rem;
  color: var(--ziggurat-800);
}

.task-card-project-pill,
.task-card-priority-pill {
  padding: 0.143rem 0.857rem;
  border-radius: 7.143rem;
  text-align: center;
}

.task-card-project-pill {
  background-color: var(--ziggurat-100);
  border: 0.071rem solid var(--ziggurat-400);
  font-size: 0.857rem;
}

.task-card-priority-pill {
  max-width: 4.286rem;
  font-weight: var(--font-weight-semibold);
}

.low-priority {
  background-color: var(--low-priority-colour);
}

.med-priority {
  background-color: var(--med-priority-colour);
}

.high-priority {
  background-color: var(--high-priority-colour);
}

.overdue {
  font-weight: var(--font-weight-bold);
  color: #d50000;
}

.overdue::before {
  content: "\f1da";
  font-family: var(--icon-font-family);
  margin-right: 0.429rem;
}
