.task-card {
  box-shadow: var(--container-background);
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  margin-bottom: 8px;
  padding: 16px 0;
  background-color: var(--ziggurat-50);
  border-radius: 16px;
}

.task-card:hover {
  background-color: var(--ziggurat-300);
  cursor: pointer;
}

.task-card p {
  margin: 0;
}

.task-card-details {
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 90px auto;
  padding: 0 24px;
}

.task-card-content {
  display: grid;
  align-items: center;
  gap: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  padding: 16px 24px 0 24px;
  padding-top: 16px;
  border-top: 1px solid var(--border-colour);
}

.task-card-name-date-container {
  display: grid;
  gap: 4px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.task-card-action-buttons {
  display: grid;
  gap: 8px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.task-card-date {
  font-size: 12px;
  color: var(--ziggurat-800);
}

.task-card-project-pill,
.task-card-priority-pill {
  padding: 2px 12px;
  border-radius: 100px;
  text-align: center;
}

.task-card-project-pill {
  background-color: var(--ziggurat-100);
  border: 1px solid var(--ziggurat-400);
  font-size: 12px;
}

.task-card-priority-pill {
  max-width: 60px;
  font-weight: var(--font-weight-semibold);
}

.low-priority {
  background-color: var(--low-priority-colour);
}

.med-priority {
  background-color: var(--med-priority-colour);
}

.high-priority {
  background-color: var(--high-priority-colour);
}
