@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
html {
  font-size: 14px;
}

body {
  gap: 40px;
  margin: 0;
  display: grid;
  grid-template-rows: 100vh;
  background-color: #ebf2f3;
  grid-template-columns: 200px 1fr;
  font-family: var(--text-font-family);
}

main {
  padding: 24px 0;
}

#content {
  display: grid;
  margin-right: 40px;
  margin-bottom: 16px;
  padding-bottom: 16px;
  justify-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  border-bottom: 1px solid var(--ziggurat-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-black);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 8px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

input[type="text"],
input[type="date"] {
  border-radius: var(--border-radius-24);
  border: 1px solid var(--border-colour);
}

input[type="text"] {
  padding: 6px 16px;
}

input[type="date"] {
  padding: 6px 8px;
  font-family: inherit;
}

input[type="text"]:focus,
input[type="text"]:focus-visible {
  outline: none;
  background-color: var(--ziggurat-50);
  border: 1px solid var(--ziggurat-600);
}

select,
option {
  font-family: inherit;
}

select {
  border: none;
  min-height: 32px;
  padding: 6px 12px;
  font-family: inherit;
  background-color: var(--ziggurat-200);
  border-radius: var(--border-radius-24);
}

select:hover {
  cursor: pointer;
}

dialog {
  border: none;
  padding: 40px;
  border-radius: 24px;
}

.page-title-container {
  display: grid;
  margin-bottom: 16px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.page-title {
  margin-bottom: 8px;
}
