.project-action-buttons {
  justify-self: end;
}

.project-action-buttons button {
  height: 2.857rem;
  width: 2.857rem;
  padding: 0;
  text-align: center;
}

.project-action-buttons i {
  font-size: 1.143rem;
  margin: 0;
}
