.sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  background-color: var(--ziggurat-50);
  padding: 24px;
}

.sidebar-container button {
  width: 100%;
  text-align: left;
}

.logo h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 900;
}

.logo {
  color: #4dd3d7;
  margin-bottom: 24px;
}

.logo-to {
  color: #fea575;
}

.logo-do {
  color: #ffc172;
}

.add-task-container {
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--ziggurat-300);
}

.timeline-controls-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 24px;
}

.my-projects-title {
  font-weight: 900;
}

.my-project-buttons {
  padding-top: 4px;
  margin-top: 4px;
  border-top: 1px solid var(--ziggurat-300);
}
