.sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr;
  background-color: var(--ziggurat-50);
  padding: 1.714rem;
}

.sidebar-container button {
  width: 100%;
  text-align: left;
}

.logo a {
  text-decoration: none;
  color: unset;
}

.logo a:hover {
  opacity: 0.5;
}

.logo h1 {
  font-size: 1.714rem;
  margin-bottom: 0;
  font-weight: 900;
}

.logo {
  color: #4dd3d7;
  margin-bottom: 1.714rem;
}

.logo-to {
  color: #fea575;
}

.logo-do {
  color: #ffc172;
}

.add-task-container {
  padding-bottom: 0.286rem;
  margin-bottom: 0.286rem;
  border-bottom: 0.071rem solid var(--ziggurat-300);
}

.timeline-controls-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 1.714rem;
}

.my-projects-title {
  font-weight: 900;
}

.my-project-buttons {
  padding-top: 0.286rem;
  margin-top: 0.286rem;
  border-top: 0.071rem solid var(--ziggurat-300);
}
